<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gyman{% endblock %}</title>
    <link href="{% static 'bootstrap-5.3.8-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.min.css' %}">
  </head>

  <body class="bg-body text-light">
    <!-- Navbar -->
    {% include 'components/navbar.html' %}
    {% include 'components/messages.html' %}

    <!-- Main Content -->
    <main class="container mt-4">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
